@font-face {
    font-family: 'ALKDots';
    src: url('../fonts/alkdots-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alkdots-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alkdots-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alkdots-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alkdots-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alkdots-webfont.svg#alkdotsregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Akaya Telivigala';
    src: url('../fonts/eng-fonts/AkayaTelivigala-Regular.eot');
    src: url('../fonts/eng-fonts/AkayaTelivigala-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/eng-fonts/AkayaTelivigala-Regular.woff2') format('woff2'),
        url('../fonts/eng-fonts/AkayaTelivigala-Regular.woff') format('woff'),
        url('../fonts/eng-fonts/AkayaTelivigala-Regular.ttf') format('truetype'),
        url('../fonts/eng-fonts/AkayaTelivigala-Regular.svg#AkayaTelivigala-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
